body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 100vh;
    overflow-x: hidden; /* Prevent horizontal scrolling */
}

.autocomplete-input {
    background-image: none;
}

header {
    width: 100%;
  background-color: #333;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

::-webkit-scrollbar{
    display: none;
  }
  

.logo {
    padding-left : 20px;
}


header .logo img {
    height: 50px;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
  }
  
  nav a:hover {
    background-color: #575757;
    border-radius: 5px;
  }

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 1rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

main {
    margin-top: 80px;
    padding: 20px;
    width: 100%;
    max-width: 600px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.introduction {
    text-align: center;
}

.introduction h1 {
    margin-top: 0;
    font-size: 24px;
}

.introduction h2 {
    color: #333;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.form-group label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #555;
}

.form-group input[type="text"],
.form-group input[type="number"] {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

.autocomplete-result-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top: none;
    border-radius: 0 0 4px 4px;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background: #fff;
    width: calc(100% - 20px);
}

.autocomplete-result {
    padding: 10px;
    cursor: pointer;
}

.autocomplete-result:hover {
    background: #f4f4f9;
}

.rating-inputs {
    display: flex;
    justify-content: space-between;
}

.rating-inputs input[type="number"] {
    width: 48%;
}

button {
    width: 100%;
    padding: 15px;
    background: #5cb85c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
}

button:hover {
    background: #4cae4c;
}
