<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link rel="stylesheet" href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css">
    <link rel="stylesheet" href="{% static 'recani/css/initialization-style.css' %}">
    <title>Initialization</title>
</head>
<body>
    <header>
        <div class="logo">
            <a href="{% url 'authz:home' %}">
                <img src="{% static 'authz/pics/logo.jpg' %}" alt="Logo">
            </a>
        </div>
        <nav>
            <ul>
                <li><a href="{% url 'authz:home' %}">Home</a></li>
                <li><a href="{% url 'authz:signout' %}">Logout</a></li>
            </ul>
        </nav>
    </header>

    <main>
        <section class="introduction">
            <h2>Select 3 of Your Favourite Shows</h2>
            <h2>And Rate Them From 1-5</h2>
        </section>
        
        <form id="shows-form">
            <div class="form-group">
                <label for="show1">Show 1:</label>
                <div id="autocomplete1" class="autocomplete">
                    <input class="autocomplete-input" type="text" name="show1" value="Goldfish Warning!" required>
                    <div class="rating-inputs">
                        <input type="number" name="show1_rating" min="1" max="5" placeholder="show1 rating" required>
                    </div>
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
            <div class="form-group">
                <label for="show2">Show 2:</label>
                <div id="autocomplete2" class="autocomplete">
                    <input class="autocomplete-input" type="text" name="show2" value="Tomorrow's Joe 2" required>
                    <div class="rating-inputs">
                        <input type="number" name="show2_rating" min="1" max="5" placeholder="show2 rating" required>
                    </div>
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
            <div class="form-group">
                <label for="show3">Show 3:</label>
                <div id="autocomplete3" class="autocomplete">
                    <input class="autocomplete-input" type="text" name="show3" value="Assassination Classroom Second Season" required>
                    <div class="rating-inputs">
                        <input type="number" name="show3_rating" min="1" max="5" placeholder="show3 rating" required>
                    </div>
                    <ul class="autocomplete-result-list"></ul>
                </div>
            </div>
            <button type="submit">Submit</button>
        </form>
    </main>

    <script>
        function createAutocomplete(selector) {
            new Autocomplete(selector, {
                search: (input) => {
                    const url = `/recani/search/?name=${input}`;
                    return new Promise((resolve) => {
                        fetch(url)
                            .then((response) => response.json())
                            .then((data) => {
                                resolve(data.data);
                            });
                    });
                },
            });
        }

        // Initialize autocomplete for each input
        createAutocomplete("#autocomplete1");
        createAutocomplete("#autocomplete2");
        createAutocomplete("#autocomplete3");

        // Form submission handler
        document.getElementById("shows-form").addEventListener("submit", function (event) {
            event.preventDefault(); // Prevent default form submission
            const formData = new FormData(event.target);
            const data = {
                show1: formData.get("show1"),
                show2: formData.get("show2"),
                show3: formData.get("show3"),
                show1_rating: formData.get("show1_rating"),
                show2_rating: formData.get("show2_rating"),
                show3_rating: formData.get("show3_rating")
            };

            fetch('/recani/initialization-page/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(data),
            })
            .then(response => response.json())
            .then(result => {
                if (result.status === 'success') {
                    window.location.href = '/recani/get_recommendations/';
                } else {
                    console.error('Error:', result.message);
                }
            })
            .catch(error => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>
