<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://unpkg.com/@trevoreyre/autocomplete-js"></script>
    <link
      rel="stylesheet"
      href="https://unpkg.com/@trevoreyre/autocomplete-js/dist/style.css" />
    <title>Document</title>
  </head>
  <body>
    <h1 style="text-align: center">Select 3 of your favourite shows</h1>


    <form id="shows-form">

      <div id="autocomplete1" class="autocomplete">
        <input class="autocomplete-input" name="show1" value="Goldfish Warning!" required/>
        <input type="number" name="show1_rating" min="1" max="5" value="2" required>
        <ul class="autocomplete-result-list"></ul>
      </div>

      <div id="autocomplete2" class="autocomplete">
        <input class="autocomplete-input" name="show2" value="Tomorrow's Joe 2" required/>
        <input type="number" name="show2_rating" min="1" max="5" value="2" required>
        <ul class="autocomplete-result-list"></ul>
      </div>

      <div id="autocomplete3" class="autocomplete">
        <input class="autocomplete-input" name="show3" value="Assassination Classroom Second Season" required/>
        <input type="number" name="show3_rating" min="1" value="2" max="5" required>
        <ul class="autocomplete-result-list"></ul>
      </div>
      <button type="submit">Submit</button>
    </form>

    <script>
      function createAutocomplete(selector) {
        new Autocomplete(selector, {
          search: (input) => {
            const url = `/recani/search/?name=${input}`;
            return new Promise((resolve) => {
              fetch(url)
                .then((response) => response.json())
                .then((data) => {
                  resolve(data.data);
                });
            });
          },
        });
      }

      // Initialize autocomplete for each input
      createAutocomplete("#autocomplete1");
      createAutocomplete("#autocomplete2");
      createAutocomplete("#autocomplete3");

      // Form submission handler
      document.getElementById("shows-form").addEventListener("submit", function (event) {
        event.preventDefault(); // Prevent default form submission
        const formData = new FormData(event.target);
        const data = {
          show1: formData.get("show1"),
          show2: formData.get("show2"),
          show3: formData.get("show3"),
          show1_rating: formData.get("show1_rating"),
          show2_rating: formData.get("show2_rating"),
          show3_rating: formData.get("show3_rating")
        };

        fetch('/recani/initialization-page/', {
          method: 'POST',
          headers: {
            'Content-Type': 'application/json',
          },
          body: JSON.stringify(data),
        })
        .then(response => response.json())
        .then(result => {
          if (result.status === 'success') {
            window.location.href = '/recani/get_recommendations/';
          } else {
            console.error('Error:', result.message);
          }
        })
        .catch(error => {
          console.error('Error:', error);
        });
      });
    </script>
  </body>
</html>
